---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    {% include feature/timelinejs.html %}
    {% include index/carousel.html title="Artworks" height="600" %}
    <iframe src="https://uploads.knightlab.com/storymapjs/0c3c387a32df2613279d8b3dd6a5e422/second-test/draft.html" frameborder="0" width="75%" height="600"></iframe>
  
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
